body {
  text-align: left;
}

#app {
  width: 780px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border: solid medium;
  font-family: Calibri, sans-serif;
}

tr:nth-child(3n+1) {
  border-bottom: solid medium;
}

td {
  border: solid thin;
  height: 3.0em;
  width: 3.0em;
  text-align: center;
  padding: 0;
}

td:nth-child(3n) {
  border-right: solid medium;
}

.bold {
  font-weight: bold;
}
